{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% load admin_urls %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID</th>
      <th>Статус</th>
      <th>Оплата</th>
      <th>Стоимость</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес</th>
      <th>Комментарий</th>
      <th>Ресторан</th>
      <th>Админка</th>
    </tr>

    {% for order in orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.get_status_display }}</td>
        <td>{{ order.get_pay_display }}</td>
        <td>{{ order.price }} руб.</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }} </td>
        <td>{{ order.comment }}</td>
        {% if order.preparing_restaurant %}
          <td>{{ order.preparing_restaurant }}</td>
        {% elif order.get_verified_deliveries %}
          <td>
            <details>
              <summary>Может приготовить:</summary>
                <ul>
                  {% for restaurant in order.get_verified_deliveries %}
                    <li>{{restaurant}}</li>
                  {% endfor %}
                </ul>
            </details>
          </td>
        {% else %}
          <td> Ни один ресторан не может приготовить заказ </td>
        {% endif %}

        <th><a href="{% url 'admin:foodcartapp_order_change' object_id=order.id %}?next={{ request.path }}">Редактировать</a></th>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
